/* General Styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: normal;
  color: rgba(252, 249, 249, 0.4);
  background-color: #1c2225;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

svg {
  display: block;
}

.second-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}

.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

textarea {
  resize: none;
}

button {
  border: none;
  background-color: transparent;
}

.section {
  max-width: 375px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

/* Header Styles */

.page-header {
  margin-top: 20px;
}

.page-header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.nav-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.site-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  margin-left: 60px;
}

.nav-link {
  padding-top: 17px;
  padding-bottom: 17px;
  transition: color 250ms ease-in-out;
}

.nav-link,
.address-link {
  color: #fcf9f9;
}

.nav-link:hover,
.nav-link:focus {
  color: #ecd979;
}

.contacts-wrapper {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

.address-links {
  margin-left: auto;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;

  transition: border-color 250ms ease-in-out;
}

.address-link {
  font-size: 14px;
  line-height: 1.42857;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 28px;
}

.address-links:hover,
.address-links:focus {
  border-color: #ecd979;
}

.header-social {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.icon-box {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 8px;
  background-color: rgba(252, 249, 249, 0.1);

  transition-property: border-color, background-color;
  transition: 250ms ease-in-out;
}

.icon-box:hover,
.icon-box:focus {
  border-color: #ecd979;
  background-color: transparent;
}

.header-social .header-icon {
  fill: #fcf9f9;
}

@media (max-width: 767px) {
  .nav-links,
  .contacts-wrapper {
    display: none;
  }
}

/* Main Section 1 (Page Hero) */

.page-hero {
  padding-top: 84px;
  padding-bottom: 40px;
}

.page-hero .container {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .title-place {
    display: flex;
    flex-direction: column;
    max-width: 632px;
    margin-top: 66px;
    margin-left: 40px;
  }
}

.hero-pic {
  border-radius: 4px;
}

.hero-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09091;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  width: 335px;
}

.color-accent {
  color: #ecd979;
}

.hero-order {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  text-align: center;

  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 36px;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 154px;
  height: 49px;

  transition: border-color 250ms ease-in-out;
}

.hero-order:hover,
.hero-order:focus {
  border-color: #ecd979;
}

.star-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 115px;
  margin-left: auto;
  margin-top: 66px;
}

.star-description {
  text-align: center;
}

@media (max-width: 767px) {
  .star-wrapper {
    display: none;
  }
}

/* Main Section 2 (Page About Us) */

.page-about-us .container {
  display: flex;
  flex-wrap: wrap;
}

.container-about-us {
  align-self: center;
  margin-bottom: 50px;
}

.description-about-us:first-of-type {
  padding-bottom: 20px;
}

.about-us-img-wrapper {
  margin-left: auto;
  position: relative;
}

.about-us-img-wrapper::after {
  content: "";
  display: block;
  width: 545px;
  height: 484px;

  position: absolute;
  bottom: -80px;
  right: -100px;

  background-image: url(../images/grey.png);
  background-repeat: no-repeat;
}

.about-us-pic {
  border-radius: 4px;
}

/* Main Section 3 (Page Our Collection) */

.collection-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.collection-list::after {
  content: "";
  display: block;
  width: 169px;
  height: 300px;

  position: absolute;
  top: 127px;
  left: -100px;

  background-image: url(../images/yellow.png);
  background-repeat: no-repeat;
  background-size: 338px 300px;
  background-position: right top;
  z-index: -1;
}

.collection-item {
  width: calc((100% - 20px * 2) / 3);
}

.collection-wrapper {
  padding-top: 18px;
}

.vyshyvanka-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fcf9f9;
}

.vyshyvanka-price {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
}

.page-our-collection .second-title {
  text-align: center;
}

.collection-pic {
  border-radius: 4px;
}

/* Main Section 4 (Page Full View Photo) */

.page-fullviewphoto {
  width: 100%;
  overflow: hidden;
}

.fullviewphoto {
  max-width: 100vw;
  min-height: 776px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

/* Main Section 5 (Customer Order) */

.page-order .container {
  display: flex;
  flex-wrap: wrap;
}

.order-pic {
  border-radius: 4px;
}

.page-order .second-title {
  width: 666px;
  line-height: 1.31818;
}

.order-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order-input {
  width: 508px;
  padding: 14px 16px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  background-color: transparent;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fcf9f9;

  transition: border-color 250ms ease-in-out;
}

.order-input:focus {
  border-color: rgba(252, 249, 249, 0.6);
}

.order-input::placeholder {
  letter-spacing: -0.02em;
}

textarea.order-input {
  margin-bottom: 40px;
  height: 196px;
}

.order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 168px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 39px;
  background-color: #1c2225;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  color: #fcf9f9;

  transition: border-color 250ms ease-in-out;
}

.order-btn:hover,
.order-btn:focus {
  border-color: #ecd979;
}

.order-img-wrapper {
  position: relative;
}

.order-img-wrapper::after {
  content: "";
  display: block;
  width: 325px;
  height: 484px;

  position: absolute;
  bottom: 0;
  left: -100px;

  background-image: url(../images/grey.png);
  background-repeat: no-repeat;
  background-size: 545px 484px;
  background-position: right top;
}

/* Main Section 6 (Testimonials) */

.page-testimonials {
  padding-top: 75px;
}

.page-testimonials .second-title {
  margin-bottom: 64px;
}

.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.testimonials-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 32px 4px rgba(18, 20, 23, 0.02);
  flex-basis: calc((100% - 26px * 2) / 3);
}

.testimonials-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #fcf9f9;
  text-align: center;
  margin-bottom: 8px;
}

.testimonials-pic {
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(16, 24, 40, 0.06);
  object-fit: cover;
  margin-top: -24px;
  margin-bottom: 14px;
}

.testimonials-text {
  letter-spacing: normal;
  text-align: center;
  padding: 0 18px 18px 18px;
}

/* Footer Styles */

.page-footer {
  margin-top: 150px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
}

.page-footer .container {
  padding-bottom: 40px;
  background-image: url(../images/yellow.png);
  background-size: 595px 528px;
  background-repeat: no-repeat;
  background-position: 944px -61px;
  padding-bottom: 0;
}

.page-footer .nav-links {
  justify-content: flex-start;
  margin-left: 0;
  padding-top: 24px;
  margin-bottom: 100px;
}

.footer-text {
  font-size: 64px;
  line-height: 1.15625;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  max-width: 754px;
  padding-bottom: 40px;
}

/* Menu Mobile Styles */

.menu-overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;

  width: 274px;
  height: 812px;

  background-color: #ecd979;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
}

.menu-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 20px;
  padding-bottom: 0;
}

.address-menu {
  font-size: 12px;
  line-height: 1.16667;
  color: #1c2225;

  border: 1px solid rgba(28, 34, 37, 0.1);
  border-radius: 15px;
  padding: 12px 20px;
  width: 158px;
  height: 38px;
}

.address-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-menu {
  width: 36px;
  height: 36px;

  margin-left: auto;
}

.close-menu-btn {
  stroke: #1c2225;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;

  margin-top: 186px;
}

.menu-link {
  line-height: 1.28571;
  text-transform: uppercase;
  color: #1c2225;
}

.menu-element-wrapper {
  position: absolute;
  top: 561px;
  width: 274px;
  height: 251px;
  overflow: hidden;
}

.menu-element {
  position: absolute;
  top: 0;
  left: -27px;
  right: 39px;
  bottom: -51px;
  overflow: hidden;
}
